/* 

.experience-container {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    padding: 40px 0;
  }
  
  .experience-card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateY(0);
    opacity: 0;
    animation: fadeInUp 0.8s forwards;
    height: 378px;
  }
  
  .experience-card:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .experience-card:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  @keyframes fadeInUp {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .card-header {
    background-color: #2b2d42;
    color: #fff;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-header h3 {
    margin: 0;
    font-size: 20px;
  }
  
  .company-name {
    font-size: 14px;
    font-weight: 300;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-body p {
    margin: 1px 10px 10px 10px;
    font-size: 14px;
    color: #333;
  }
  
  .card-body strong {
    color: #2b2d42;
  }
   */






   .unique-experience-container {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    padding: 40px 0;
}

.unique-experience-card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateY(0);
    opacity: 0;
    animation: unique-fadeInUp 0.8s forwards;
    height: 335px;
}

.unique-experience-card:nth-child(1) {
    animation-delay: 0.2s;
}

.unique-experience-card:nth-child(2) {
    animation-delay: 0.4s;
}

@keyframes unique-fadeInUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.unique-card-header {
    background-color: #2b2d42;
    color: #fff;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 32%;
}

.unique-card-header h3 {
    margin: 0;
    font-size: 20px;
}

.unique-company-name {
    font-size: 14px;
    font-weight: 300;
}

.unique-card-body {
    padding: 15px;
}

.unique-card-body p {
    margin: 1px 10px 10px 10px;
    font-size: 14px;
    color: #333;
}

.unique-card-body strong {
    color: #2b2d42;
}
