.topic {
  margin-left: 20px;
}

.navbar {
  background-color: burlywood;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.card-project {
  width: calc(25% - 20px);
  border: 2px solid grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.image-container {
  height: 100px;
}

.project {
  height: 44px;
}

.project-description {
  margin-top: 10px;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .card-project {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 372px) {
  .card-project {
    width: calc(100% - 20px);
  }
}

.about {
  display: flex;
}

.text {
  display: flex;
  flex-direction: column;

  width: 50%;
}

.image-container1 {
  width: 50%;
  max-height: 100%;
}

.image2 {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 500px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
  }
}

.contact-us {
  display: flex;
  margin-top: 3rem;
}

.message {
  width: 40%;
  gap: 10px;
  text-align: justify;
}

.form-fields {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .contact-us {
    flex-direction: column;
    align-items: center;
  }

  .form-fields {
    margin-left: 0;
    margin-top: 1rem;
  }

  .message {
    width: 100%;
    text-align: center;
  }
}

.image-container {
  height: 300px;
  display: flex;
  justify-content: center;
}

.image-contact {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* body{
  background-image: url('./Images/background.png');
  height: 100vh;
  background-size: cover;
} */

/* Custom styles for the header background */
.header-bg {
  background-image: url("./Images/background.png"); /* Replace with the actual image path */
  background-size: cover; /* Ensures the image covers the whole area */
  background-position: center; /* Centers the image */
  height: 90vh;
  color: rgb(255, 255, 255);
}

.image-signature {
  height: 50px;
}

.signature {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.social-icons {
  margin: 0;
  padding: 0;
  background: #262626;
}
.custom-icons {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  position: relative;
  top: 50px;
}

.custom-icons li {
  list-style: none;
  margin: 0 15px;
}

.custom-icons li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: 0.5s;
}

.custom-icons li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.custom-icons li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.custom-icons li a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill-item {
  width: calc(25% - 20px);
  height: 100px;
  margin: 10px;
  background-color: #666;
  border: 1px solid red;
  color: wheat;
  display: flex;
  flex-direction: column;
}

.icon {
  text-align: center;
  height: 70%;
}
.title-icon {
  text-align: center;
  height: 30%;
}

/* 
Contsctus Form */

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-box {
  display: flex;
  margin: 2rem;
}

.contact-img-container {
  height: 40px;
  width: 40px;
}

.contact-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.contact-label {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.contact-methods {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.card-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.image-card-container {
  height: 100px;
  width: 100%;
}
.card-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.item-card {
  width: calc(33.33% - 10px);
}






